.navLogo{
    font-size: 30px;
    margin-left: 20px;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navitems{
    margin-right: 20px;
    font-size: 20px;
}

.navitems li{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}

.navitems li Link{
    text-decoration: none;
    color: #fff;
}

.navitems li Link:hover{
    color: #d81111;
    /* text-decoration: none; */
}



.resumeBTN{
    background-color: #6c63ff;
    color: red;
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 17px;
    text-decoration: none;
}

.resumeBTN:hover{
  
    color: white;
    background-color: greenyellow;
}